/*

App Name: Lorem Generator
App Url: https://fate92ma.github.io/Lorem-Generator
Contact Me: fatema131khaled@gmail.com

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

/* Start Styling */

body {
    font-family: sans-serif;
    background: linear-gradient(to right, #ccffcc 0%, #ffffff 100%)
}

main {
    margin: 100px 0
}

.div {
    padding: 5px;
    color: darkgreen;
    text-align: center
}

.div div {
    width: 50vw;
    margin: 20px auto;
    margin-bottom: 10px
}

input,
button {
    margin: 4px;
    outline: 0;
    padding: 6px;
    border: 1px solid #ccc
}

input {
    width: 150px
}

img {
    max-width: 100%;
    padding: 10px;
    width: 150px;
    margin: auto;
    display: block
}

button {
    color: darkgreen;
    padding: 4px;
    font-size: 18px;
    cursor: pointer
}

.toBtn button {
    display: block;
    margin: auto
}

article {
    border-radius: 4px;
    background: #90ee90b8;
    width: 50vw;
    margin: 20px auto
}

article p {
    padding: 5px 10px;
    line-height: 25px;
    margin-bottom: 20px
}

article p:last-of-type {
    margin-bottom: 0
}

/* End Styling */

/* Start Media Query */

@media (max-width: 1200px) {

    .div div,
    article {
        width: 60vw
    }
}

@media (max-width: 1024px) {

    .div div,
    article {
        width: 70vw
    }
}

@media (max-width: 768px) {

    .div div,
    article {
        width: 80vw
    }
}

@media (max-width: 480px) {

    .div div,
    article {
        width: 85vw
    }
}

/* End Media Query */